* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
  --base-text-color: black;

  --max-width: 1440px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 320px;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 50px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .header_logo {
    display: block;
    margin: 30px 50px;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  nav {
    display: flex;

    a {
      color: var(--base-text-color);
      text-decoration: none;
      padding: 15px 0;
      margin: 0 20px;
      border-top: 2px solid transparent;

      transition: all 0.2s;

      &:hover {
        color: var(--main-color);
        border-top: 2px solid var(--main-color);
      }

      @media screen and (max-width: 768px) {
        text-align: center;
        flex-grow: 1;
        margin: 0;
        border-bottom: 2px solid var(--filter-bg-color);
        border-top: 0;

        &:hover {
          border-bottom: 2px solid var(--main-color);
          border-top: 0;
        }
      }
    }

    @media screen and (max-width: 768px) {
      
    }

    
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

main {
  flex-grow: 1;
}

footer {
  background-color: var(--main-bg-color);
  display: flex;
  gap: 30px;

  .footer_links {
    flex-grow: 1;
    padding: 20px;

    h3 {
      margin-top: 0;
    }

    a {
      color: var(--base-text-color);
      text-decoration: none;
      display: block;

      margin-top: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}